<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /codeigniter/newCiVueProject/front/dist/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /codeigniter/newCiVueProject/front/dist/index.html [L]
</IfModule>
